body 
{
    background-color:darkslateblue;
    color: aquamarine;
    overflow-y: clip;
    padding: 0px;
    margin: 0%;
    width: 100%;
}

header
{
    overflow-y: scroll;
    height: 20%;
    width: 100%;
    margin: 0%;
    padding: 0%;
    border: 0%;
    position: fixed;
    scrollbar-width: none;
}

#infopanel
{
    border-style: solid;
    border-color: darkblue;
    border-width: 1%;
    border-radius: 5px;
    background-color:cornflowerblue;
    text-align: center;
    margin-right: 5%;
    margin-left: 5%;
    padding-left: 0%;
    padding-right: 0%;
    width: 88%;
    height: 30%;

}

#infopanel p 
{
    position: relative;
    top: 30%;
    padding-top: 0%;
    padding-bottom: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
}

#tabs
{
    text-align: center;
    padding: 0%;
    margin: 1%;
    width: 98%;
    height: 20%;
}
#tabs button 
{
    width: 15%;
    height: 100%;
    border-radius: 20px;
}

#subtabs
{
    text-align: center;
    padding: 0%;
    width: 100%;
    height: 15%;
}

#subtabs button 
{
    width: 10%;
    height: 100%;
    border-radius: 10px;
}

#display 
{
    overflow-y: scroll;
    height: 80%;
    width: 100%;
    position: fixed;
    top: 20%;
    scrollbar-width: none;
}

.triangleDisplay
{
    text-align: center;
}
.button1
{
    text-align: center;
    justify-self: center;
}
.button1 button 
{
    height: 50px;
    width: 100px;
}

.buyable
{
padding-left: 50px;
}

.buyable button {
    height: 25px;
}

.upgrade
{
    height: 200px;
    width: 300px;
    margin: 10px;
}





button
{
    border-radius: 10px;
    background-color: cyan;
}

button:hover  
{
    background-color: rgb(181, 200, 218);
}






.buildingCatagories
{
    padding-left: 10px;
    text-align: left;
    text-shadow: lightgray 3px 3px 3px;
    font-size: 25px;
}

#researchAreaWrapper
{
    text-align: center;
    overflow-y: scroll;
    height: 60%;
    width: 100%;
    position: fixed;
    top: 40%;
    scrollbar-width: none;
}
#researchArea 
{
    position: absolute;
    text-align: center;
    width: 100%;
    top: 0%;
    margin: 0%;
    height: 100%;
}
#researchArea button 
{
    height: 20%;
    width: 10%;
    position: absolute;
}

#achievementArea {
    height: 100%;
    width: 100%;
}

.achievText {
    text-align: center;

}


.achievement 
{
    height: 100px;
    width: 100px;
    position: absolute;
    border-style: solid;
    border-radius: 5px;
    border-width: 1%;
    padding: 1px;
}

.achievName 
{
    position: relative;
    padding: 1px;
    margin: 1px;
    font-size: 15px;
    text-shadow: lightgray 3px 3px 3px;
    width: calc(100% - 6px);
    text-align: center;

}

.achievDesc
{
    position: relative;
    padding: 1px;
    margin: 1px;
    font-size: 10px;
    text-align: center;
    width: calc(100% - 6px);
}

.achievReward
{
    position: absolute;
    bottom: 0%;
    padding: 1px;
    margin: 1px;
    font-size: 12px;
    text-align: center;
    width: calc(100% - 6px);
}