body 
{
    background-color:darkslateblue;
    color: aquamarine;
    overflow-y: clip;
    padding: 0px;
}

header
{
    overflow-y: scroll;
    height: 15%;
    width: 100%;
    position: fixed;
    scrollbar-width: none;}

#infopanel
{
    border-width: thick;
    border-radius: 5px;
    background-color:cornflowerblue;
    text-align: center;
    margin-right: 5%;
    margin-left: 5%;
    padding: 3px;
    width: 85%;
}

#tabs
{
    text-align: center;
    padding: 10px;
}
#tabs button 
{
    width: 200px;
    height: 50px;
    border-radius: 20px;
}

#display 
{
    overflow-y: scroll;
    height: 85%;
    width: 100%;
    position: fixed;
    top: 15%;
    scrollbar-width: none;
}

.triangleDisplay
{
    text-align: center;
}
.button1
{
    text-align: center;
    justify-self: center;
}
.button1 button 
{
    height: 50px;
    width: 100px;
}

.buyable
{
padding-left: 50px;
}

.buyable button {
    height: 25px;
}

.upgrade
{
    height: 200px;
    width: 300px;
}





button
{
    border-radius: 10px;
    background-color: cyan;
}

button:hover  
{
    background-color: rgb(181, 200, 218);
}






.buildingCatagories
{
    padding-left: 10px;
    text-align: left;
    text-shadow: lightgray 3px 3px 3px;
    font-size: 25px;
}

#researchAreaWrapper
{
    text-align: center;
    overflow-y: scroll;
    height: 60%;
    width: 100%;
    position: fixed;
    top: 40%;
    scrollbar-width: none;
}
#researchArea {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 0%;
    margin: 0%;
    height: 100%;
}
#researchArea button {
    height: 20%;
    width: 10%;
    position: absolute;
}



